body > section {
  padding: 20px 0px;
}
.help-block-error {
  color: red;
}
.icon-small {
  font-size: 12px;
  width: 12px;
  line-height: 12px;
  text-align: center;
  display: inline-block;
  background: #2dcc70;
  padding: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #fff;
}
form#order input#order-verifycode {
  width: 132px;
  min-height: 48px;
}
